@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

:root {
    --primary-color: #F2C94C;
    --secondary-color: #bef264;
    --yellow: #fef08a;
    --violet: #6d28d9;
    --red: #dc2626;
    --pink: #c026d3;
    --width-break: 600px;
}

body {
    margin: 0;
    font-family: 'Kalam', cursive;   
}

/* .body-div{
    height: 100%;
    background: url(images/new_image.png);
    background-size: 100%;

} */





#navigation {
    background-color: var(--primary-color);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

/* main{
    padding: 1rem;
    margin: 1rem 5rem;
    align-content: center;
} */

main {
    margin: auto;
    max-width: 600px;
    /* outline: 2px solid black; */
}

#text-input {
    /* border: 1px solid blue;
    width: 900px;
    height: 100px;
    display: block;
    margin: 2rem auto 1rem;
    font-weight: bold;
    color: red; */

    box-sizing: border-box;
    display: block;
    max-width: 600px;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;padding: 1rem;
    padding: 0.5rem;
    font-family: 'Kalam', cursive; 

}

::placeholder {
    font-size: 1.25rem;
    font-family: 'Kalam', cursive; 

}

#translate-button {
    /* cursor: pointer; */
    margin-top: 1.5rem;
    padding: 1rem;
    display: block;
    background-color: var(--primary-color);
    color:  black;
    /* border-color: var(--primary-color); */
    /* border: none; */
    font-size: large;
    font-family: 'Kalam', cursive; 
}

/* #translate-button:hover, 
#translate-button:focus{
    font-weight: bold;
} */



#div-trans {
    margin-top: 0.5rem;
    font-size: large;
    text-align: left;
    padding: 1rem 0;
}

#text-output {
    box-sizing: border-box;
    border: 1.3px solid black;
    width: 100%;
    height: 80px;
    /* padding: 1rem; */
    display: block;
    margin: auto;
    margin-bottom: 4rem;
    font-weight: bold;
    padding: 0.5rem;
}

footer{

    /* margin-top: auto; */
    width: 100%;
    display: block;
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footer-header{
    font-size: 1.5rem;
    margin:0 3rem;
    padding: 0 1rem;
}

.footer-div{
    max-width: var(--width-break);
    margin: auto;
    padding: 0 1rem;
}